body{
    background-color: black;
    background-image: url('FrierenGroup.jpg');
}
#section {
    color: #fdec00;
    text-align: center;
}
#name{
    color: darkgreen;
    text-align: center;
}
.border1{
    background-color: #16b9e2;
    width: 70%;
    margin: auto;
    border-radius: 10px;
}
.text{
    color: white;
    font-size:x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.img_s{
    text-align: center;
}

.img_s ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.img_s ul li {
    display: inline-block;
    margin: 5px;
}

.img {
    border-radius: 50%;
    transition: border-radius 0.3s ease; 
}

.img:hover {
    border-radius: 10%;
}
